<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Morning <%= @user.name %>!</h1><br />
    <h1>It's going to rain today! Don't forget your umbrella!</h1>
    <h1>Enjoy your day!</h1>
  </body>
</html>
