<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1><br />
    <h1>Thanks for subscribing to Sunshade.me!</h1>
    <p>Click here to confirm your subscription.</p>
  </body>
</html>